/* Container needed to position the button. Adjust the width as needed */
body {
  border:none;
}
home {
  
  border:none;
}


.carousel h1:after, .carousel h1:before {
    content: " ";
    display: none;
    width: 0;
    height: 2px;
    margin: 0;
}